@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 64, 63, 69;
  --background-rgb: 231, 240, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
